@import '../scss/variables';

select {
    margin-bottom: 30px;
    height: 30px;
    min-width: 100px;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
    /* width: 100%; */
    // border: 1px solid red;
    padding: 18px 25px;

    &:first-child {
        background: $tertiary-color;
        color: #fff;
    }

    &:not(:first-child):nth-child(even) {
        background: #f0f0f5;
    }

    li {
        &:not(:last-child) {
            width: 30%;
        }

        width: 10%;
    }
}

