<ng-container *ngIf="isShowModal">
    <div class="modal-confirmation">
        <div class="modal-container">
            <div class="modal-body">
                <h4>{{modalHeading}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="button-secondary" (click)="onCancelClick()">Cancel</button>
                <button type="button" class="button-primary" (click)="onYesClick()">Yes</button>
            </div>
        </div>
    </div>
</ng-container>
    